@-webkit-keyframes spin {
    0% {
        width: 30px;
        height: 26px;
    }
    50% {
        width: 32px;
        height: 29px;
    }
    100% {
        width: 30px;
        height: 26px;
    }
}

.animate{
    /*-webkit-animation:spin 4s linear;*/
    /*-moz-animation:spin 4s linear;*/
    /*animation:spin 4s linear;*/
    /*animation-iteration-count: 1;*/
    /*-moz-animation-iteration-count: 1;*/
    /*-webkit-animation-iteration-count: 1;*/



    -webkit-animation-name: spin;
    -webkit-animation-duration: 0.6s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.6;
}