@import "animation.css";
/* Getting the new tags to behave */
article, aside, audio, canvas,  datalist, details, embed, figcaption, figure, footer, header, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
.wrap{overflow:hidden;margin-left:-5px;padding-left:5px}
/* Global properties */
body {border:0;
    color:#200;
    line-height:24px;
    background:url(../images/bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 110px;
    background: transparent url(../images/bg.png) no-repeat 50% 110px;
}
html, body {
    width: 100%;
    border: 0;
    min-width: 1260px;
}

.ng-cloak{
    display: none !important
}

header {
    min-width: 1260px;
}
@font-face{
    font-family:'CoreSansM45';
    src:url(../css/DesktopFonts/CoreSansM45Regular.otf);
}
@font-face{
    font-family:'CoreSansM55';
    src:url(../css/DesktopFonts/CoreSansM55Medium.otf);
}

@font-face{
    font-family:'CoreSans33';
    src:url(../css/DesktopFonts/CoreSansNRSC33ExLight.otf);
}

@font-face{
    font-family:'CoreSans45Reg';
    src:url(../css/DesktopFonts/CoreSansNRSC45Regular.otf);
}

@font-face{
    font-family:'EroStyleNext';
    src:url(../css/DesktopFonts/EurostileNextLTPro-BoldExt.ttf);
}

@font-face{
    font-family:'SkyForgeDigits';
    src:url(../css/DesktopFonts/Skyforge%20digits.ttf);
}


@font-face{
    font-family:'CoreSansLight';
    src:url(../css/WebFonts/CoreSansLight.eot);
    src:url(../css/WebFonts/CoreSansLight.eot?#iefix) format('embedded-opentype'),
        url(../css/WebFonts/CoreSansLight.svg#coreSansLight) format('svg'),
        url(../css/WebFonts/CoreSansLight.woff) format('woff'),
        url(../css/WebFonts/CoreSansLight.ttf) format('truetype');
}
@font-face{
    font-family:'EroStyle';
    src:url(../css/WebFonts/eurostilenextltpro-boldext.eot);
    src:url(../css/WebFonts/eurostilenextltpro-boldext.eot?#iefix) format('embedded-opentype'),
    url(../css/WebFonts/eurostilenextltpro-boldext.woff) format('woff'),
    url(../css/WebFonts/eurostilenextltpro-boldext.ttf) format('truetype');
}

@font-face{
    font-family:'SkyForge';
    src:url(../css/WebFonts/skyforge_digits.eot);
    src:url(../css/WebFonts/skyforge_digits.eot?#iefix) format('embedded-opentype'),
    url(../css/WebFonts/skyforge_digits.svg) format('svg'),
    url(../css/WebFonts/skyforge_digits.woff) format('woff'),
    url(../css/WebFonts/skyforge_digits.woff2) format('woff'),
    url(../css/WebFonts/skyforge_digits.ttf) format('truetype');
}

/* Global Structure */
.main {	margin:0 auto;}
/* main layout */
a {text-decoration:none!important;outline:none; cursor:pointer;}
a:hover {text-decoration:underline}
h1 {float:left;padding:0px 0 0 36px}

/* header */
header {height:440px;width:100%;overflow:hidden}

.top_header{
    width:100%;
    height: 60px;
    background: #fff;
    position: relative;
    z-index: 1000;
    background-color: #fff;
    min-width: 640px;
    background: #fff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.35),0 0 12px 0 rgba(0,0,0,.28);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.35),0 0 12px 0 rgba(0,0,0,.28);
    text-align: center;
     color: #333;
     font: 11px/14px 'Open Sans',sans-serif;
}
.header_center{
    height:56px;
    width:165px;
    margin-top:15px;
    cursor:pointer;
}
.header_menu{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    z-index: 9999;
    left: 5px;
    background: url(../images/icon-menu.png) no-repeat transparent;
    background-position: 10px;
    cursor:pointer;
}

.header_login{
    position: absolute;
    right: 0px;
    top: 5px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    cursor:pointer;
}


.header_user{
    background: url(../images/icon-login.png) no-repeat transparent;
    background-position: 0px 10px ;
    height: 50px;
    width: 35px;
    position: absolute;
    top: 0px;
    display: inline-block;
    left: 0px;
}

.bottom_header{
    width:100%;
    height: 50px;
    background: #becac9;
    /*position:fixed;*/
    position: relative;
    /*top:60px;*/
    z-index: 999;
}

ul.menu li {
    margin: 0 0 0 0.5em;
}
ul.menu {
    border: none;
    list-style: none;
    text-align: left;
}

.bottom_header>ul.menu {
    border: none;
    list-style: none;
    line-height: 50px;
    text-align: center;
}
.bottom_header>ul.menu>li {
    display: inline-block;
    position: relative;
    padding-top: 0;
    padding-right: 0px;
    top: 0px;
}

.bottom_header ul a {
    color: rgb(59, 62, 61);
    text-decoration: none;
}

.bottom_header>ul.menu>li a,
.bottom_header>div>ul>li a{
    font-family: CoreSansLight;
    font-size: 18px;
    outline-color: rgb(59, 62, 61);
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    white-space: nowrap;
}


.bottom_header>ul.menu>li a.current{
    border-bottom: 5px solid #647e6b;
    padding-bottom: 9px;
}

.bottom_header>div>ul>li a{
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: Verdana;
    font-size: 14px;
}

.bottom_header>ul>li:hover>a{
    background: none repeat-x scroll left top rgb(103, 128, 109);
    color: #ffffff;
    height: 22px;
}
.bottom_header>div ul li:hover>a{
    color: #ffffff;
}

.bottom_header>ul.menu>li>ul {
    display: none;
    left: 0;
    position: absolute;
    top: 50px;
    min-width: 100%;
	font:14px/16px Verdana, Arial, sans-serif;
    max-width: 360px;
    background: rgba(37,44,44,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2252c2c,endColorstr=#b2252c2c);
    zoom: 1;
    padding: 22px 0px 8px;
}
.bottom_header>ul.menu>li>ul li {
	margin:0 0 14px;
}
.bottom_header>ul.menu>li:hover>ul {
    display: block;
}
.bottom_header>ul.menu>li>ul a{
    color: #84c295;
    padding: 0px 33px;
	font-size:14px;
	line-height:16px;

}
.bottom_header>ul>li>ul a:hover {
    color:#fff;
}

.language-switcher-locale-url:hover {
    height: auto;
    background: rgb(37, 44, 44);
    background: transparent \9;
    background: rgba(37, 44, 44, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2252c2c, endColorstr=#b2252c2c);
    zoom: 1;
}

.language-switcher-locale-url-container {
    position: absolute;
    top: 0px;
    right: 160px;
    width: 60px;
    height: 50px;
    z-index: 21;
}
.language-switcher-locale-url-container.share{
    right: 80px;
}

.language-switcher-locale-url {
    padding-top: 60px;
    padding-left: 10px;
    position: relative;
    width: 50px;
    text-transform: uppercase;
}
.language-switcher-locale-url li {
    cursor: pointer;
    height: 32px;
    margin-left: -10px;
    padding-left: 5px;
    width: 60px;
    display: none;
}

.language-switcher-locale-url-container.share .language-switcher-locale-url li {
    margin-left: 0px;
}

.language-switcher-locale-url-container.share>ul>li>a{
    font-size: 18px;
    line-height: 20px;
}

.language-switcher-locale-url li.active {
    position: absolute;
    top: 0;
    padding-top: 15px;
    display: block;
}
.language-switcher-locale-url:hover li {
    display: block;
}

.bottom_header>div ul li a{
    background: url(../images/icon_lang2.png) no-repeat scroll transparent;
    background-repeat: no-repeat!important;
    line-height: 17px;
}
.bottom_header>div.language-switcher-locale-url-container.share ul li a{
    background: url(../images/social_30x30.png) left 0px no-repeat;
    opacity: 0.85;
}
.bottom_header>div.language-switcher-locale-url-container.share ul li:hover a{
    opacity:1;
}

.bottom_header>div.language-switcher-locale-url-container.share ul li.first.active a{
    background: url(../images/icon_share.png) left 0px no-repeat;
    background-position: -14px -14px;
}
.bottom_header>div.language-switcher-locale-url-container.share:hover ul li.first.active a{
    background-position: -14px -64px;
}

.language-switcher-locale-url-container:hover li a {
    position: relative;
    color: #84c295;
}
.language-switcher-locale-url li.ru a {
    background-position: 0 1px;
}
.language-switcher-locale-url li.en a {
    background-position: 0 -28px;
}
.language-switcher-locale-url li.de a {
    background-position: 0 -62px;
}
.language-switcher-locale-url li.fr a {
    background-position: 0 -90px;
}

.bottom_header>div.language-switcher-locale-url-container.share ul li a.addthis_button_facebook {
    background-position: 0px -83px;
}
.bottom_header>div.language-switcher-locale-url-container.share ul li a.addthis_button_twitter {
    background-position: 0px -43px;
}
.bottom_header>div.language-switcher-locale-url-container.share ul li a.addthis_button_google_plusone_share {
    background-position: 0px -122px;
}
.bottom_header>div.language-switcher-locale-url-container.share ul li a.addthis_button_pinterest_share {
    background-position: 0px -4px;
}




/* content */
#content {
    height: 750px;
    margin: 0px auto;
    padding-bottom:40px;
}


/* footer */
footer {height:180px;font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#696969;line-height:18px}
footer a {color:#c53005;text-decoration:underline}
footer a:hover {text-decoration:none}

.footer{
    background-color: rgba(45, 53, 52, 0.7);;
}

.pane-footer{
    width: 1200px;
    padding: 10px 20px;
    margin: 0 auto;
    min-height: 95px;
}

.footer .row.row-2{
    text-align: right;
}
.footer .row.row-2>a{
    float:right;
    float:0 5px;

}
.footer .row.row-2>div{
    display: inline-block;
    float: right;
}

.pane-footer ul{
    list-style-image: none;
    list-style: none;
}
.pane-footer  ul li {
    display: inline-block;
    margin: 0px;
}
.pane-footer>ul>li {
    float: left;
    margin-right: 40px;
}
.pane-footer  ul li a{
    text-decoration: none;
    font: 18px CoreSansLight;
    padding-bottom: 10px;
    display: inline-block;
    color: #cacaca;
}
.pane-footer ul li li a {
    font-size: 11px;
}

.footer ul li li {
    display: block;
}


.main-container{
    border-bottom: 1px dotted #66806d;
    padding-bottom: 20px;
	margin:0 0 19px;
}


.copyright {
    height: 160px;
    margin: 20px 0 0;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 0;
    width: 500px;
    z-index: 10;
}

.copyright .row-1 {
    padding-top: 8px;
    width: 435px;
    line-height: 10px;
}
.copyright .row-1 a:first-child{
    margin:0px 5px;

}
.copyright .row-2 {
    text-align: left;
}
.copyright .row {
    font-size: 11px;
    color:#fff;
    font-family: CoreSans33;
}

.counters {
    margin-left: 5px;
    text-align: right;
}
.counters>a{
    display: block;

}

.copyright a {
    position: relative;
    z-index: 10;
    display: inline-block;
    color: #0072bc;
    text-decoration: none;
}




.panel-col-first {
    min-height: 60px;
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-left: 0px;
    margin-right: 16px;
    width: 890px;
}

.panel-col-last {
    display: inline-block;
    width: 330px;
    position: relative;
    z-index: 1;
    min-height: 60px;
    background: #aa0000;
    font-family: CoreSans33;
}

.panel-col-last.joined {
    background: #00AA8A;
}

.signup-button-top{
    line-height: 60px;
    color:#fff;
    text-align: center;
    display: block;
}
#user-block {
    position: relative;
    margin-bottom: 20px;
    height: 60px;
    overflow: visible;
    background: rgb(37,44,44);
    background: transparent\9;
    background: rgba(37,44,44,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2252c2c,endColorstr=#b2252c2c);
    zoom: 1;
    line-height: 25px;
}

#user-block a {
    text-decoration: none;
    color: #84c295;
    display: inline-block;
    margin-right: 43px;
}

#user-block a:hover {
    color: #a0d0ad;
}

#user-block .user_name{
    color:#fff;
    font-family: CoreSans33;
    font-size: 18px;
	line-height:20px;
	margin:8px 0 0;
}


#signup-button-user-block,
#forgot-pw-button-user-block{
    font-family: Verdana;
    font-size: 14px;
    padding: 0 0 0 15px;
    position: relative;
}
#signup-button-user-block:after {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	margin:-5px 0 0;
	width:12px;
	height:12px;
	background:url(../images/ico-profile.png) no-repeat;
}
#forgot-pw-button-user-block:after {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	margin:-4px 0 0;
	width:10px;
	height:10px;
	background:url('../images/ico-logout.png') no-repeat;
}
#user-block>div{
    float:left;
}
#user-block>div:first-child {
    margin:0 20px;
}

.static-teasers-content .label {
    zoom: 1;
    font-size: 18px;
	line-height:20px;
    padding: 7px 20px 13px;
    width: 1200px;
    color: #fff;
    font-family: CoreSans33;
}
.static-teasers-content{
    background: rgb(37,44,44);
    background: transparent\9;
    background: rgba(37,44,44,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2252c2c,endColorstr=#b2252c2c);
}

.news_feeds>span {
    margin: 0px 10px 10px 20px;
    color: #fff;
    display: inline-block;
    font-family: Verdana;
}
.news_feeds a {
    background-image: url(../images/small_social_icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 20px;
    opacity: 0.8;
}

.news_feeds a.fb {
    background-position: -24px center;
}

.news_feeds a.twitter {
    background-position: -48px center;
}

.news_feeds a.youtube {
    background-position: -72px center;
}

.news-block-content{
    background-image: url(../images/content_bg.png);
    padding:20px;
    margin-bottom: 15px;
}
.main-left{
    width: 750px;
    display: inline-block;
}

.main-left img{
    width:750px;
    height: 470px;
}

.main-right{
    display: inline-block;
    width: 420px;
    margin-left: 14px;
    font-family: Verdana;
}

.main-right .submission{
	font:14px/20px Verdana, Arial, sans-serif;
}

.img-bottom{
    width: 100%;
    height: 50px;
    background: #1a1809;
    opacity: 0.8;
    margin-top: -50px;
    line-height: 50px;
}

.main-button a{
    background: none repeat scroll 0 0 #66806d;
    color: #fff;
    display: inline-block;
    font: 18px/40px CoreSansLight,sans-serif;
    height: 40px;

    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}
.main-button a:hover{
    background: #758e7c;
}

.img-bottom-left{
    color:#fff;
	padding:14px 10px 15px 20px;
    font-size: 18px;
    font-family: CoreSans33;
	line-height:20px;
	float:left;
}
.img-bottom-right{
    color:#daaa00;
    float: right;
    padding: 0px 18px;
    line-height: 50px;
    font-size: 35px;

}

.points{
    background-image: url(../images/point_icon.png);
    width: 30px;
    height: 26px;
    float: left;
    margin: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.submission, .author-status, .mis-descr{
    color:#777777;
	font:14px/20px Verdana, Arial, sans-serif;
}

.mission-no{
    color:#000;
    font-size: 60px;
    line-height: 60px;
    font-family: SkyForgeDigits;
}

.points_num{
    font-family: SkyForgeDigits;
}

.mission-name{
    font-size: 18px;
    font-family: CoreSans33;
    border-bottom: 1px dotted #66806d;
    padding-bottom: 10px;
}

.author-avatar{
    width:60px;
    height: 60px;
    float:left;
    margin-right: 10px;
}
.author-block{
    margin: 20px 0 0;
}
.author-name{
    font-size: 22px;
    font-family: CoreSans33;
}

.author-status-logo{
	margin:3px 5px 0 0;
}

.author{
    color:#777;
    font-size: 18px;
}
.author-container{
    margin: 0 0 26px 0;
    border-bottom: 1px dotted #66806d;
    padding-bottom: 13px;
}

.mis-description{
    margin-top: 5px;
    font-size: 14px;
	line-height:18px;
    min-height: 130px;
    overflow: auto;
    border-bottom: 1px dotted #66806d;
    padding-bottom: 5px;
    margin-bottom: 16px;
}
.vote-next-container{
    height: 50px;
    line-height: 50px;
    width: 425px;
}

.vote-next-container a.vote {
    background: none repeat scroll 0 0 #66806d;
    color: #fff;
    display: inline-block;
    font: 30px/40px CoreSansLight,sans-serif;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    padding: 0px 1px 0px 1px;
    cursor: pointer;
}
.vote-next-container a.vote.disabled{
    cursor: default;
    background-color: #C5C5C5;
}

.vote-next-container a.vote.vote-left{
    background-image: url(../images/arr-left.png);
}
.vote-next-container a.vote.vote-right{
    background-image: url(../images/arr-right.png);
}

a.vote-btn{
    display: inline-block;
    width: 265px;
    position: relative;
    z-index: 1;
    min-height: 50px;
    background: #aa0000;
    line-height: 50px;
	font-family: CoreSans33;
	font-size:18px;
    color: #fff;
    text-align: center;
    margin: 0px 20px;
    cursor: pointer;
}

a.vote-btn.voted{
    background:  #988585;
    cursor: default;
}

.bottom_logos{
    margin-top: 10px;
}


.zerogrid{ width: 1240px; position: relative; margin: 0 auto; padding: 0px;}
.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.zerogrid .row{}
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{zoom: 1;}

.zerogrid .wrap-col{margin:10px;}