<!DOCTYPE html>
<html lang="en">
<head>
<title>Sanya / My.Com</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1" class="ng-cloak">
<!--[if lt IE 9]>
<p class="browsehappy">Update your browser</p>
<![endif]-->
<header ng-include="'templates/header.html'">
</header>
	<div class="main zerogrid" >
				<article id="content">

					<div class="center-wrapper clearfix" ng-controller="AppController">
						<div class="panel-col-first">
							<div id="user-block">
								<div>
									<img src="images/avatar-1.png">
								</div>
								<div>
									<div class="user_name">
										{{model.user.username}}
									</div>
									<div>
										<a  id="signup-button-user-block" href="#/">Profile</a>
										<a id="forgot-pw-button-user-block" href="#/">Logout</a>
									</div>
								</div>

							</div>
						</div>
						<div class="panel-col-last" ng-class="{'joined': model.user.joined}">
							<a ng-if="!model.user.joined" ng-click="model.user.joined = !model.user.joined" class="action-cbt-subscribe signup-button-top" >Join to the CBT</a>
							<a ng-if="model.user.joined"  ng-click="model.user.joined = !model.user.joined" class="action-cbt-subscribe signup-button-top">You are in the CBT</a>
						</div>
					</div>

					<div class="center-wrapper clearfix" ng-view></div>

				</article>

	</div>
</div>
<div class="footer">
<div class="main zerogrid">
	<!-- footer -->
	<footer ng-include="'templates/footer.html'">	</footer>
	<!-- / footer -->
</div>
</div>
<script src="js/lib/require/require.js" data-main="js/main.js"></script>
</body>
</html>