<div class="static-teasers-content">
    <div class="label"><label>Voting in the nomination "Player of the year"</label></div>

    <div class="news-block-content">
        <div class="main-view">
            <div class="main-container">
                <div class="main-left">
                    <img ng-src="{{model.player.image}}" alt=""/>
                    <div class="img-bottom">
                        <span class="img-bottom-left">
                            №{{model.player.number}} "{{model.player.name}}"
                        </span>
                        <span class="img-bottom-right">
                            <span class="points" count="model.player" animate ></span>
                            <span class="points_num">{{model.player.points}}</span>
                        </span>
                    </div>
                </div>
                <div class="main-right">
                    <div class="submission">
                        Submission №
                    </div>
                    <div class="mission-no">
                        {{model.player.number}}
                    </div>
                    <div class="mission-name">
                        {{model.player.title}}
                    </div>
                    <div class="author-block">
                        <img class="author-avatar" ng-src="{{model.player.author_ava}}">
                        <div class="author-container">
                            <div class="author">Author:</div>
                            <div class="author-name">{{model.player.author}}</div>
                            <div class="author-status">
                                <img class="author-status-logo" src="images/founder.png">
                                Founder
                            </div>
                        </div>
                        <div class="mis-descr">
                            Description:
                        </div>
                        <div class="mis-description">
                            {{model.player.description}}
                        </div>
                        <div class="vote-next-container">
                            <a ng-class="{'disabled':model.current == 0}" ng-click="model.prev()" class="vote vote-left" vote-left></a>
                            <a ng-class="{'voted':model.player.voted}" ng-click="model.vote()" class="vote-btn">Vote</a>
                            <a ng-class="{'disabled':model.current == model.players.length - 1}"ng-click="model.next()" class="vote vote-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-button">
                <a href="#/">BACK TO CONTEST</a>
            </div>
        </div>
    </div>

    <div class="news_feeds">
        <span>Share</span>
        <a href="#/" class="rss"></a>
        <a href="#/" class="fb"></a>
        <a href="#/" class="twitter"></a>
        <a href="#/" class="youtube"></a>
    </div>
</div>