<div class="pane-footer">
    <ul class="menu">
        <li>
            <a href="#/" title="">News</a>
            <ul class="menu">
                <li><a href="#/" title="">Press about us</a></li>
            </ul>
        </li>
        <li>
            <a href="#/" title="">About</a>
        </li>
        <li>
            <a href="#/" title="">Media</a>
            <ul class="menu">
                <li><a href="#/" title="">Screenshots</a></li>
                <li><a href="#/" title="">Concept-art</a></li>
            </ul>
        </li>
        <li>
            <a href="#/" title="">Community</a>
            <ul class="menu">
                <li><a href="#/" title="">Forum</a></li>
                <li><a href="#/" title="">Social networks</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="copyright">
    <div class="row row-2">
        <div class="counters">
            <a href="" target="_blank" class="allods"><img src="images/logo_8.png"></a>
            <br/>
            <a href="" target="_blank" class="allods"><img src="images/logo_9.png"></a>
        </div>

        <a href="" target="_blank" class="allods"><img src="images/logo_4.png"></a>

        <a href="" target="_blank" class="allods"><img src="images/logo_7.png"></a>
        <a href="" target="_blank" class="allods"><img src="images/logo_allods.png"></a>



    </div>
    <div class="row row-1">
        <a href="#/" target="_blank" class="allods"><img src="images/logo_obsidian.png"></a>
        <span>&copy; Mail.Ru Games. All Rights Reserved. Powered by <a href="http://mail.ru/" target="_blank">Mail.Ru</a></span>
    </div>
    <div class="bottom_logos">
        <img src="images/logo_1.png">
        <img src="images/logo_2.png">
        <img src="images/logo_3.png">
    </div>

</div>