<div class="top_header">
    <span class="header_menu"></span>
    <img class="header_center" src="images/home_center.png">
		<span class="header_login">
			<span class="header_user"></span>
			<span class="header_name">LOG IN</span>
		</span>
</div>
<div class="bottom_header">
    <ul class="menu">
        <li class="first expanded menu-news">
            <a href="#/" title="" class="current">News</a>

        </li>
        <li class="expanded menu-about">
            <a href="#/" title="">About</a>
        </li>
        <li class="expanded menu-media">
            <a href="#/" title="">Media</a>
        </li>
        <li class="leaf menu-support">
            <a href="#/" title="">Support</a>
            <ul class="menu">
                <li><a href="#/" title="">Complain</a></li>
                <li><a href="#/" title="">Complain about everybody</a></li>
                <li><a href="/#/" title="">Complain about destiny</a></li>
                <li><a href="#/" title="">Complain about the others</a></li>
            </ul>
        </li>
        <li class="last expanded menu-community">
            <a href="#/" title="">Community</a>
            <ul class="menu"><li class="first leaf menu-forum"><a href="#/" title="">Forum</a></li>
                <li><a href="#/" title="">Social networks</a></li>
            </ul>
        </li>
    </ul>


    <div class="language-switcher-locale-url-container">
        <ul class="language-switcher-locale-url">
            <li class="ru first active"><a href="#/" class="active">ru</a></li>
            <li class="en"><a href="#/">en</a></li>
            <li class="de"><a href="#/">de</a></li>
            <li class="fr last"><a href="#/">fr</a></li>
        </ul>
    </div>

    <div class="language-switcher-locale-url-container share">
        <ul class="language-switcher-locale-url">
            <li class="first active">
                <a class="addthis_button_facebook"  title="Facebook" href="#/"></a>
            </li>
            <li class="">
                <a class="addthis_button_facebook"  title="Facebook" href="#/"></a>
            </li>
            <li>
                <a class="addthis_button_twitter" title="Tweet" href="#/"></a>
            </li>
            <li>
                <a class="addthis_button_google_plusone_share"  title="Google+" href="#/"></a>
            </li>
            <li>
                <a class="addthis_button_pinterest_share" title="Pinterest" href="#/"></a>
            </li>
        </ul>


    </div>
</div>